@model AssetTracker.Model.Asset

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    
    <hr />
    <div class="row">
        <div class="col-sm-6">
            
                <h4>Asset</h4>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Tag)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Tag)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TypeNm)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TypeNm)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Photo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Photo)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreateDt)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreateDt)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.StatusNm)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.StatusNm)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TypeNm)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TypeNm)
                    </dd>
                </dl>
            
        </div>
        <div class="col-sm-6">
            
                <h3>Current Location</h3>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CurrentLocation.LocationNm)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CurrentLocation.LocationNm)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CurrentLocation.CreateDt)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CurrentLocation.CreateDt)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CurrentLocation.TransferDt)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CurrentLocation.TransferDt)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CurrentLocation.Note)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CurrentLocation.Note)
                    </dd>
                </dl>
            
        </div>
        
        
    </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AssetId }) |
    <a asp-action="Index">Back to List</a>
</div>
